
.Post-content {
    font-size: large;
  }

  .FeaturePost {
    text-align: justify;
    padding: 6.0em;
  }

  .FeaturePost-header {
    background-color: #222;
    padding: 2em;
    color: lightgrey;
}

.RegisterButton-landing{
  font-size: large;
}

.knaussButton{
  text-align: center;
}